html {
    box-sizing: border-box;
}

*, *::backdrop, *::after {
    box-sizing: inherit;
}

:root {
    --color-primary: #FF0000;

    

    --bg-secondary: #28272C;
    --bg-primary: white;

    --text-primary: white;
    --text-secondary: #6A6A6A;
    --text-tirtiary: #B2B2B2;
}

.container {
    max-width: 1088px;
    margin: 0 auto;
    
}

/* ----HEADER---- */

.header {
    background-color: #00000092;
    border: solid 2px #FFFFFF33;

    width: 100%;
    

    font-family: Nunito Sans;

    position: fixed;
    z-index: 1;
    
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 90px;
    
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 0.3rem;

    color: var(--text-primary);

    text-transform: uppercase;
    font-weight: 600;

    line-height: 41px;
    font-size: 35px;
}

.header__logo > img {
    width: 31px;
    height: 35px;
}

.header__logo span {
    color: var(--color-primary);
    font-weight: 800;
}

.header__nav {
    display: flex;
    gap: 40px;
    
}

.header__nav a {
    text-decoration: none;
    color: var(--text-primary);
    text-transform: uppercase;
    padding: 33px 40px;

    line-height: 22px;
    font-size: 16px;

}

.header__nav a:hover{
    background-color: #FFFFFF33;
}


/* ---BANNER---- */


.banner {
    height: 100vh;

    background-image: url(imgs/Image.png);
    background-size: cover;
    background-position: center;

    font-family: Nunito Sans;
    
    position: relative;
    isolation: isolate;

}

    

.banner::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: black;
    opacity: .4;
}




.banner .container {
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 40px;

    justify-content: center;
    align-items: center;

}

.banner__header {
    color: var(--text-primary);
    font: normal normal 900 90px/90px Nunito Sans;
    text-transform: uppercase;
    letter-spacing: 0px;
    opacity: 1;
    text-shadow: 0px 3px 6px #00000040;

}

.banner__text {
    color: var(--text-primary);
    text-align: center;
    letter-spacing: 0px;
    opacity: 1;

}

.banner__btn-cont {

    display: flex;
    justify-content: center;
    gap: 25px;
}

.btn-big {
    padding: 22px 55px;
    border-radius: 40px;

    text-transform: uppercase;

    line-height: 22px;
    font-size: 16px;

}

.btn:hover {
    cursor: pointer;
    opacity: 90%;
}

.left {
    background-color: var(--color-primary);
    color: var(--text-primary);

    box-shadow: 0px 3px 6px #FF00004D;
    border: none;
}

.right {
    background-color: var(--bg-primary);
    color: var(--color-primary);

    border: none;
}


/* ---- BLOG ---- */

.blog__card-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
}


.blog__header-cont{
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog__header {
    font: normal normal bold 35px/47px Nunito Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    text-transform: uppercase;

    position: relative;
    width: 400px;
    text-align: center;

    margin-top: 90px;
    margin-bottom: 35px;
}

.blog__header::after, .blog__header::before {
    content: "";
    width: 50px;
    height: 3px;

    box-shadow: 0px 1px 6px #FF00004D;
    border-radius: 8px;
    opacity: 1;
    background-color: var(--color-primary);
    position: absolute;
    top: 23px;
    right: 90px;
}

.blog__header::before {
    left: 90px;
}

.blog__card { 
    width: 352px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    padding-bottom: 80px;
}

.blog__card-header{
    line-height: 26px;
    font-size: 19px;

    color: var(--text-secondary);
    text-transform: uppercase;
    font-family: Nunito Sans;

}

.blog__card-text {
    line-height: 19px;
    font-size: 14px;

    color: var(--text-tirtiary);

    font-family: Open Sans;

    text-align: left;
}

.blog__card-btn {
    padding: 10px 29px;

    background-color: var(--color-primary);
    color: var(--text-primary);

    border: none;

    line-height: 19px;
    font-size: 14px;
}

/* ---- Service ----*/

.service {
    background-color: var(--bg-secondary);
}

.service__header {
    margin-top: 60px;
    margin-bottom: 75px;
    display: block;
    text-align: center;
    width: 400px;

    font: normal normal bold 35px/47px Nunito Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    text-transform: uppercase;

    position: relative;
}

.service__header::after, .service__header::before {
    content: "";
    width: 50px;
    height: 3px;

    background-color: var(--color-primary);
    box-shadow: 0px 1px 6px #FF00004D;
    border-radius: 8px;
    opacity: 1;

    position: absolute;
    top: 22px;
    right: 65px;
}

.service__header::before {
    left: 65px;
}

.service__header-cont {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.service__card-cont {
    display: flex;
    flex-direction: row;
    gap: 45px;
    

}

.service__card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;

    width: 235px;

    padding-bottom: 100px;
}

.service__card img {
    height: 170px;
    width: 170px;
}

.service__card-header {
    text-align: left;
    font: normal normal normal 19px/26px Nunito Sans;
    letter-spacing: 0px;
    color: var(--text-primary);
    opacity: 1;
    text-transform: uppercase;

}

.service__card-text {
    text-align: center;
    font: normal normal normal 14px/19px Open Sans;
    letter-spacing: 0px;
    color: var(--text-tirtiary);
    opacity: 1;
}

.btn-small {
    text-align: center;
    font: normal normal bold 14px/19px Nunito Sans;
    letter-spacing: 0px;
    color: var(--text-primary);
    background-color: var(--color-primary);
    opacity: 1;
    border: none;

    padding: 11px 29px;
    border-radius: 40px;
    box-shadow: 0px 3px 6px #FF00004D;
    text-transform: uppercase;
}



/* ---- Contact ----*/

.contact__header-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__header {
    width: 400px;
    text-align: center;
    text-transform: uppercase;
    font: normal normal bold 35px/47px Nunito Sans;
    letter-spacing: 0px;
    color: black;
    opacity: 1;


    margin-top: 65px;
    margin-bottom: 35px;

    position: relative;
}

.contact__header::before, .contact__header::after {
    content: "";
    width: 50px;
    height: 3px;
    background-color: var(--color-primary);
    box-shadow: 0px 1px 6px #FF00004D;
    border-radius: 8px;
    opacity: 1;

    position: absolute;
    right: 60px;
    top: 22px;
}

.contact__header::before {
    left: 60px;
}

.contact img {
    width: 444px;
    height: 316px;
}

.contact__content-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;

   margin-bottom: 40px;
}

.content__form {
    width: 444px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content__form-name, .content__form-email {
    height: 38px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    font: normal normal normal 16px/22px Nunito Sans;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    letter-spacing: 0px;
    color: #B2B2B2;
    opacity: 1;
    padding: 8px 12px;
}

.content__form-textarea {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    opacity: 1;
    padding: 8px 12px;

    font: normal normal normal 16px/22px Nunito Sans;
    letter-spacing: 0px;
    color: #B2B2B2;
    opacity: 1;
}

.content__form-checkbox-cont div > label {
    text-align: left;
    font: normal normal 300 10px/14px Open Sans;
    letter-spacing: 0px;
    color: var(--text-tirtiary);
    opacity: 1;
}

.content__form-checkbox-cont {
    display: flex;
    gap: 10px;
}

.content__form-submit {
    align-self: flex-end;
    display: block;

    background-color: var(--bg-primary);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);

    padding: 11px 52px;
}


/* ---- Footer ---- */
.footer {
    background-color: var(--bg-secondary);
}

.footer .container {
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

   
}

.footer__header-logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 30px;
    margin-top: 40px;
    gap: 8px;

}

.footer__header-logo h4 {
    font: normal normal bold 25px/34px Nunito Sans;
    letter-spacing: 0px;
    color: var(--text-primary);
    opacity: 1;
    text-transform: uppercase;
}

.footer__header-logo span {
    color: var(--color-primary);
}

.footer__header-logo img {
    width: 16.45px;
    height: 18.95px;
}

.footer__info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 141px;
    margin-bottom: 40px;

    position: relative;
}

.footer__info a {
    list-style-type: none;
    text-decoration: none;

    font: normal normal bold 14px/19px Nunito Sans;
    letter-spacing: 0px;
    color: var(--text-primary);
    text-transform: uppercase;
    opacity: 1;

}

.footer__info a:hover {
    color: var(--color-primary);
}

.footer__info li {
    padding-bottom: 7px;
}

.footer__info-copyright {
    position: absolute;
    right: 0px;
    bottom: 0px;

    margin-bottom: 7px;

    font: normal normal 300 12px/16px Nunito Sans;
    letter-spacing: 0px;
    color: #D1D1D1;
    opacity: 1;
}








